<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>GBS Taiwan University</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap core CSS -->
  <link href="./assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="icon" type="image/png" href="./assets/img/shield.png" />

  <!-- Custom fonts for this template -->
  <link href="./assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="./assets/vendor/simple-line-icons/css/simple-line-icons.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600" rel="stylesheet">

  <!-- Plugin CSS -->
  <link rel="stylesheet" href="./assets/device-mockups/device-mockups.min.css">

  <!-- Custom styles for this template -->
  <link href="./assets/css/new-age.css" rel="stylesheet">

  <!-- Custom styles for GBS University -->
  <link href="./assets/css/gbs-overrides.css" rel="stylesheet">

  <style>
  @import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
  body {
    font-family: 'Noto Sans TC', sans-serif, 'Noto Sans' !important;
    overflow-x: hidden;
  }
  header {
    font-family: 'IBM Plex Sans', 'Noto Sans TC', sans-serif, 'Noto Sans' !important;
  }
  </style>


<link rel="stylesheet" href="styles.7ea99a27a0ed51a6b00d.css"></head>

<body id="page-top">
  <app-root></app-root>
<script type="text/javascript" src="runtime.a5dd35324ddfd942bef1.js"></script><script type="text/javascript" src="es2015-polyfills.4a4cfea0ce682043f4e9.js" nomodule></script><script type="text/javascript" src="polyfills.e56a9d70186581ef43ea.js"></script><script type="text/javascript" src="main.84690615a0fc329d9b16.js"></script></body>

<!-- Bootstrap core JavaScript -->
<script src="./assets/vendor/jquery/jquery.min.js"></script>
<script src="./assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="./assets/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="./assets/js/new-age.min.js"></script>

<!-- Export Course Table to Canvas Library -->
<script src="./assets/js/html2canvas.min.js"></script>

<!-- Convert Canvas to Pdf -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.54/pdfmake.min.js"></script>

</html>